<div class="container-fluid">
  <div class="card">
    <span class="p-3">{{ transaction?.certificate?.updatedAtDesc }}</span>
    <div class="card-body pt-1">
      <ng-container
        *ngIf="transaction?.certificate?.active; else certificateInactive"
      >
        <div class="row">
          <div class="col-2 text-center">
            <i class="fas fa-award fa-4x"></i>
          </div>
          <div class="col-10">
            <h2 class="certificate-title">
              {{
                transaction?.certificate?.universityDegree?.degreeProgramName
              }}
            </h2>
            <p>certificado #{{ transaction?.certificateBlockchainId }}</p>
          </div>
        </div>
      </ng-container>
      <div class="row justify-content-end">
        <div class="col-3">
          <button
            type="button"
            type="submit"
            class="btn btn-secondary"
            (click)="goDetail(transaction?.certificate?.id)"
          >
            Ver m&aacute;s
          </button>
        </div>
        <div
          class="col-3"
          *ngIf="
            (user$ | async)?.person?.docNumber ===
              transaction?.certificate?.student?.docNumber &&
            (role$ | async)?.name === 'STUDENT'
          "
        >
          <button
            type="button"
            type="submit"
            class="btn btn-secondary"
            (click)="exportPdf(transaction?.certificateBlockchainId)"
          >
            Exportar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #certificateInactive>
  <div class="container">
    <div class="row">
      <div class="col text-danger">
        <p>SU CERTIFICADO SE ENCUENTRA INACTIVO.</p>
      </div>
    </div>
  </div>
</ng-template>
