<div class="container pt-5">
  <div class="row justify-content-center" *ngIf="transactions && transactions.length > 0; else emptyData">
    <div class="col-8 p-3" *ngFor="let transaction of transactions">
      <app-certificate [transaction]="transaction"></app-certificate>
    </div>
  </div>
</div>

<!-- <ng-container *ngIf="(user$ | async) as user">
  <ng-container *ngFor="let st of user?.person?.students">
    <option [ngValue]="st">
      {{ st.degreeProgramName }}
    </option>
  </ng-container>
</ng-container> -->



<ng-template #emptyData>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h5>No hay certificaciones para el graduado</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>