<div
  class="container mt-3 table-responsive"
  *ngIf="transactionList && transactionList.length > 0; else empty"
>
  <table class="table align-middle mb-0 bg-white">
    <caption>
      Listado de transacciones
    </caption>
    <thead class="bg-light text-center">
      <tr>
        <th>Graduado</th>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Txn Hash</th>
        <th>Certificado</th>
        <th>Gas utilizado</th>
        <th>Estado</th>
        <th>Acci&oacute;n</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let tx of transactionList">
        <td>
          <div>
            <p class="mb-1">
              <strong> {{ tx.studentName }}</strong>
            </p>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ tx.dateCreated }}</p>
        </td>
        <td>
          <span
            class="badge badge-success rounded-pill d-inline"
            *ngIf="tx.methodName === 'CREATE'"
            >CREADO</span
          >
          <span
            class="badge badge-danger rounded-pill d-inline"
            *ngIf="tx.methodName === 'DELETE'"
            >BAJA</span
          >
        </td>
        <td>{{ tx.transactionHash }}</td>
        <td>{{ tx.certificateBlockchainId }}</td>
        <td>{{ tx.gasUsed }} WEI</td>
        <td>
          <span
            class="badge badge-success rounded-pill d-inline"
            *ngIf="tx.status === types.COMPLETED"
            >{{ tx.status }}</span
          >
          <span
            class="badge badge-warning rounded-pill d-inline"
            *ngIf="tx.status === types.PENDING"
            >{{ tx.status }}</span
          >
          <span
            class="badge badge-danger rounded-pill d-inline"
            *ngIf="tx.status === types.ERROR"
            >{{ tx.status }}</span
          >
        </td>
        <td>
          <button
            type="button"
            class="btn btn-link btn-rounded btn-sm fw-bold"
            mdbRipple
            rippleColor="dark"
            (click)="goDetail(tx!)"
          >
            Ver m&aacute;s
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <div class="container mt-2 animate__animated animate__flipInX">
    <app-message
      title=" No hay transacciones para mostrar... "
      type="EMPTY"
    ></app-message>
  </div>
</ng-template>
