<div class="row">
    <ng-container *ngIf="!enableClean">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="N&uacute;mero de documento"
                [(ngModel)]="personDocNumber" (keyup.enter)="getStudentByDni()" [ngModelOptions]="{ standalone: true }"
                aria-describedby="button-addon2" />
            <button class="btn btn-secondary" type="button" id="button-addon2" mdbRipple rippleColor="danger"
                (click)="getStudentByDni()">
                Buscar
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="enableClean">
        <div class="col-sm-6 col-md-8">
            <mdb-form-control class="mb-3">
                <!-- TODO: Agregar directiva para no escribir numeros -->
                <input mdbInput type="text" id="search_dni" class="form-control" [(ngModel)]="personDocNumber"
                    (keyup.enter)="getStudentByDni()" [ngModelOptions]="{ standalone: true }" />
                <label mdbLabel class="form-label" for="search_dni">N&uacute;mero de documento</label>
            </mdb-form-control>
        </div>

        <div class="col-sm-3 col-md-2">
            <button type="button" type="submit" [disabled]="!personDocNumber" class="btn btn-secondary"
                (click)="getStudentByDni()">
                Buscar
            </button>
        </div>

        <div class="col-sm-3 col-md-2">
            <button type="button" type="submit" [disabled]="!personDocNumber" class="btn btn-secondary"
                (click)="onClean.emit(true)">
                Limpiar
            </button>
        </div>
    </ng-container>

</div>