<div class="card border border-2 rounded-7 border-primary shadow" *ngIf="certificate">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col p-0">
          <div class="d-flex align-items-center justify-content-center text-primary">
            <i class="fa-solid fa-link icon-size icon-color"></i>
            <span class="logo-text px-2 text-primary">UNSL CERT</span>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <span class="text-data-size">Se certifica que</span>
          <div class="row justify-content-center">
            <div class="pb-5 col-12 col-xl-6 rounded text-primary title-data">
              <strong>
                {{certificate.certificate?.student?.name}} {{certificate.certificate?.student?.lastname}} -
                {{certificate.certificate?.student?.docType}} {{certificate.certificate?.student?.docNumber}}
              </strong>
            </div>
          </div>
          <span class="text-data-size">ha terminado los estudios correspondientes a la carrera</span>
          <div class="row justify-content-center">
            <div class="pb-5 col-12 col-xl-6  rounded text-primary title-data">
              <strong>
                {{certificate.certificate?.universityDegree?.degreeProgramName}}
              </strong>
            </div>
          </div>
          <div class="row justify-content-center mt-2">
            <div class="col-sm-6 col-5">
              <span class="text-data-size">Tipo de carrera</span>
              <div class="text-primary">
                <strong class="rounded title-data">
                  {{certificate.certificate?.universityDegree?.degreeType}}
                </strong>
              </div>
            </div>
            <div class="col-sm-6 col-5">
              <span class="text-data-size">Plan de estudios</span>
              <div class="text-primary">
                <strong class="rounded title-data">
                  {{certificate.certificate?.universityDegree?.degreeProgramCurriculum}}
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">

          <div class="p-2 background-grey rounded">
            <p class="p-2 m-0"> <span class="text-success"> Validado y certificado por la red Ethereum <i
                  class=" fas fa-check-circle text-success"></i></span>
            </p>
            <p>Para ver m&aacute;s informaci&oacute;n puede ingresar al siguiente link</p>
            <a class="text-primary" [href]="certificate.etherscanLink">{{ certificate.etherscanLink }}</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-8">
          <p class="mt-4">
            Certificado el d&iacute;a <strong class="text-primary">
              {{ certificate.certificate?.updatedAtDesc }}
            </strong>
          </p>
        </div>
        <div class="col-4 col-lg-2">
          <p class="mt-4">
            Blockchain ID <strong class="text-primary">
              {{ certificate.certificate?.id}}
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>