@import "../../../variables.scss";

.icon-size {
    font-size: 64px;
}

.icon-color {
    color: $primary;
}

.background-grey {
    background-color: rgb(240, 240, 240);
}


.logo-text {
    font-weight: bold;
    font-size: 45px;
}