<div class="container mt-5 animate__animated animate__fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h1 class="text-primary">Títulos Universitarios de la UNSL</h1>
        <h5 class="text-secondary px-1">
          Consult&aacute; tus t&iacute;tulos ingresando tu n&uacute;mero de
          documento.
        </h5>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-xl-6 col-lg-6 col-12">
      <app-student-search></app-student-search>
    </div>
  </div>
</div>