<div class="container mt-5 animate__animated animate__fadeIn">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-8 text-center">
      <h1 class="text-primary title">Títulos Universitarios de la UNSL</h1>
      <h3 class="text-secondary px-1">
        Consult&aacute;r t&iacute;tulos ingresando n&uacute;mero de
        documento.
      </h3>
    </div>
  </div>
  <div class="row my-3 justify-content-center">
    <div class="col-md-12 col-lg-6">
      <app-student-search></app-student-search>
    </div>
  </div>
</div>