@import "../../../../variables.scss";

.space {
    white-space: normal;
}

.icon-size {
    font-size: 54px;
}

.icon-color {
    color: $primary;
}


.logo-text {
    font-weight: bold;
    font-size: 34px;
}