<div class="card">
  <div class="card-body pt-0">
    <div class="row align-items-center">
      <div class="col">
        <div class="student-data">

          <ng-container *ngIf="student && !!student.person; else personData">
            <p class="h3">{{ student.person.fullname | titlecase}}</p>
            <p class="text-primary"><strong>{{ student.degreeProgramName | titlecase}}</strong></p>

            <p> <strong>
                {{student.person.docType}} : {{ student.person.docNumber }} -
                {{ student.person.sex }}
              </strong>
            </p>
            <p><strong>Registro: {{ student.registrationNumber }}</strong> </p>
            <p *ngIf="hasTitles"><strong>Blockchain ID: {{ student.blockchainId }}</strong> </p>
            <p class="h6">{{ student.universityName | titlecase }}</p>
            <p class="h6 pt-1">{{ student.academicUnit | titlecase}}</p>
          </ng-container>
        </div>
      </div>
      <div class="col-3">
        <div class="text-center">
          <img src="../../../assets/img/avatar/astronaut.png" alt="student avatar" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div" *ngIf="!!certifications">
  <div class="row">
    <div class="col p-0">
      <div class="container mt-3" *ngIf="
            certifications.length > 0;
          ">
        <h4>T&iacute;tulos</h4>

        <ng-container *ngFor="let cert of certifications">
          <div class="row">
            <app-certificate [transaction]="cert"></app-certificate>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #personData>
  <ng-container *ngIf="person">
    <p class="h3">{{ person.fullname }}</p>
    <p> <strong>
        {{person.docType}} : {{ person.docNumber }}
      </strong>
    </p>
    <p><strong> {{person.sex }}</strong></p>
    <ng-container *ngIf="student">

      <p class="text-primary"><strong>{{ student.degreeProgramName }}</strong></p>

      <p><strong>Registro: {{ student.registrationNumber }}</strong> </p>
      <p *ngIf="hasTitles"><strong>Blockchain ID: {{ student.blockchainId }}</strong> </p>
      <p class="h6">{{ student.universityName }}</p>
      <p class="h6 pt-1">{{ student.academicUnit }}</p>

    </ng-container>
    <ng-container *ngIf="!student">
      <ng-container *ngFor="let student of person.students">
        <div class="" *ngIf="!disableButton">
          <button type="button" class="btn mb-1 text-start bg-primary secondary btn-block " aria-current="true"
            mdbRipple (click)="selectStudent(student)">
            {{ student.degreeProgramName }} -
            {{student.registrationNumber}}
          </button>
        </div>
        <div class="" *ngIf="disableButton">
          <p>{{ student.degreeProgramName }} -
            {{student.registrationNumber}}</p>
        </div>
      </ng-container>
    </ng-container>

  </ng-container>
</ng-template>