<div class="card" *ngIf="student">
  <div class="card-body ">
    <div class="row">
      <div class="col-3">
        <div class="text-center">
          <img src="../../../assets/img/avatar/astronaut.png" alt="student avatar" class="image-custom-size" />
          <h5 class="text-center">{{ student.person.fullname }}</h5>
        </div>
      </div>
      <div class="col">
        <div class="student-data">
          <p><strong>N° de estudiante </strong> {{ student.blockchainId }}</p>
          <p>
            <strong>DNI </strong>{{ student.person.docNumber }} -
            {{ student.person.sex }}
          </p>
          <p>
            <strong>{{ student.universityName }}</strong>
          </p>
          <p><strong>Registro : </strong> {{ student.registrationNumber }}</p>
          <p>
            <strong>Unidad Acad&eacute;mica: </strong>{{ student.academicUnit }}
          </p>
          <p><strong>Carrera: </strong>{{ student.degreeProgramName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div" *ngIf="!!certifications">
  <div class="row">
    <div class="col p-0">
      <div class="container mt-3" *ngIf="
            certifications.length > 0;
          ">
        <h4>T&iacute;tulos</h4>

        <ng-container *ngFor="let cert of certifications">
          <div class="row">
            <app-certificate [transaction]="cert"></app-certificate>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>