<div class="container mt-2">
  <div class="row">
    <div class="col">
      <h3 class="card-title">Nuevo Estudiante</h3>
      <form autocomplete="true" [formGroup]="studentForm">
        <div class="container">

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" class="form-control" formControlName="name" required />
                <label mdbLabel class="form-label" for="form_name">Nombre</label>
              </mdb-form-control>
            </div>
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_lastName" class="form-control" formControlName="lastname"
                  required />
                <label mdbLabel class="form-label" for="form_lastName">Apellido</label>
              </mdb-form-control>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="mb-3">
                <select class="form-select" aria-label="Document type select" id="documentTypeSelect" formControlName="documentType" required>
                  <option selected value="">Tipo de documento</option>
                  <option value="DNI">DNI</option>
                  <option value="LE">LE</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" maxlength="8" class="form-control"
                  formControlName="docNumber" required />
                <label mdbLabel class="form-label" for="form_name">N° Documento</label>
              </mdb-form-control>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <div class="form-check">
                  <input mdbCheckbox class="form-check-input" type="checkbox" value="false"
                    formControlName="genderIdentity" id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Ley de genero
                  </label>
                </div>
              </mdb-form-control>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="mb-3">
                <select class="form-select" aria-label="gender select" id="sexSelect" formControlName="sex" required>
                  <option selected value="">Elija el sexo</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Otro">X</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" class="form-control" formControlName="universityName"
                  required />
                <label mdbLabel class="form-label" for="form_name">Instituci&oacute;n</label>
              </mdb-form-control>
            </div>
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" class="form-control" formControlName="academicUnit"
                  required />
                <label mdbLabel class="form-label" for="form_name">Unidad Acad&eacute;mica</label>
              </mdb-form-control>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" class="form-control" formControlName="degreeProgramName"
                  required />
                <label mdbLabel class="form-label" for="form_name">Carrera</label>
              </mdb-form-control>
            </div>
            <div class="col-xs-12 col-md-3">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" class="form-control"
                  formControlName="degreeProgramCurriculum" required />
                <label mdbLabel class="form-label" for="form_name">Plan de estudios</label>
              </mdb-form-control>
            </div>
            <div class="col-xs-12 col-md-3">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" class="form-control" formControlName="degreeProgramOrdinance"
                  required />
                <label mdbLabel class="form-label" for="form_name">N°Ordenanza Ministerial del plan</label>
              </mdb-form-control>
            </div>
          </div>

          <div class="row">
            <div class="col text-end">
              <button type="button" type="submit" class="btn btn-light mx-2" (click)="clearForm()">
                Limpiar
              </button>
              <button type="button" type="submit" class="btn btn-secondary" (click)="addNewCertificate()">
                Crear estudiante
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
