<div class="container mt-2 animate__animated animate__fadeIn" *ngIf="successMessage.length <= 0; else success">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-8">
      <h4 class="card-title">Buscar estudiante</h4>
      <app-search (onSearch)="handleSearch($event)" (onClean)="handleClean($event)"></app-search>
    </div>
  </div>
  <div class="row justify-content-center my-2" *ngIf="personList && personList.length > 0 && !personSelected">
    <div class="col-6">
      <h5 class="text-start">Estudiantes encontrados:</h5>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="list-group list-group-light">
          <button type="button" class="list-group-item list-group-item-action btn my-2 text-start bg-primary secondary"
            *ngFor="let person of personList" aria-current="true" mdbRipple (click)="selectPerson(person)">
            {{ person.fullname }} - {{ person.sex }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row justify-content-center" *ngIf="personSelected">
      <div class="col-md-12 col-lg-6 px-2">
        <app-student [person]="personSelected"></app-student>
      </div>

    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-12 col-lg-8">
        <form autocomplete="true" [formGroup]="studentForm">
          <div>
            <div>
              <ng-container *ngIf="!personSelected">

                <div>
                  <mdb-form-control class="mb-3">
                    <input mdbValidate mdbValidate mdbInput type="text" id="form_name" class="form-control"
                      formControlName="name" required />
                    <label mdbLabel class="form-label" for="form_name">Nombre</label>

                  </mdb-form-control>

                  <mdb-form-control class="mb-3">
                    <input mdbValidate mdbInput type="text" id="form_lastName" class="form-control"
                      formControlName="lastname" required />
                    <label mdbLabel class="form-label" for="form_lastName">Apellido</label>
                  </mdb-form-control>
                  <div class="mb-3">
                    <select class="form-select" aria-label="gender select" id="sexSelect" formControlName="sex"
                      required>
                      <option selected value="">Elija el sexo</option>
                      <option value="Masculino">Masculino</option>
                      <option value="Femenino">Femenino</option>
                      <option value="Otro">Otro</option>
                    </select>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-3">
                        <select class="form-select" aria-label="doctype select" id="docType" formControlName="docType"
                          required>
                          <option selected value="">Tipo de documento</option>
                          <option value="DNI">DNI</option>
                          <option value="CI">CI</option>
                          <option value="LC">LC</option>
                          <option value="Otro">Otro</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <mdb-form-control class="mb-3">
                        <input mdbValidate mdbInput type="text" id="form_name" maxlength="8" class="form-control"
                          formControlName="docNumber" required />
                        <label mdbLabel class="form-label" for="form_name">N° Documento</label>
                      </mdb-form-control>
                    </div>
                  </div>
                </div>

              </ng-container>


              <ng-container *ngIf="universities.length > 0">
                <div class="row">
                  <div class="mb-3">
                    <select class="form-select" aria-label="university Name Select" id="universityNameSelect"
                      formControlName="university" required [disabled]="true">
                      <option [ngValue]="universities[0]">
                        {{ universities[0].name }}
                      </option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <select class="form-select" aria-label="Academic Unit Select" id="academicUnitNameSelect"
                      formControlName="academicUnit" required (change)="changeAcademicUnit()">
                      <option selected value="">
                        Elija unidad acad&eacute;mica
                      </option>
                      <ng-container *ngFor="let academicUnit of universities[0].academicUnits">
                        <option [ngValue]="academicUnit">
                          {{ academicUnit.name }}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3">
                    <select class="form-select" aria-label="Degree type Select" id="degreeTypeSelect"
                      formControlName="degreeType" required>
                      <option selected value="">Tipo de carrera</option>
                      <option value="PREGRADO">Pregrado</option>
                      <option value="GRADO">Grado</option>
                      <option value="POSGRADO">Posgrado</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3">
                    <select class="form-select" aria-label="Degree Program NameSelect" id="degreeProgramNameSelect"
                      formControlName="degreeProgramName" required
                      (change)="this.plans = this.degreeProgramName?.value.plans">
                      <option selected value="">Elija una carrera</option>
                      <ng-container *ngFor="let career of careers">
                        <option [ngValue]="career">{{ career.name }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <div class="mb-3">
                    <select class="form-select" aria-label="Degree Program curriculum select"
                      id="degreeProgramCurriculumSelect" formControlName="degreeProgramCurriculum" required>
                      <option selected value="">Elija el plan de estudio</option>
                      <ng-container *ngFor="let plan of plans">
                        <option [ngValue]="plan">{{ plan }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mdb-form-control class="mb-3">
                      <input mdbValidate mdbInput type="text" id="form_name" maxlength="8" class="form-control"
                        formControlName="registrationNumber" required />
                      <label mdbLabel class="form-label" for="form_name">N° Registro</label>
                    </mdb-form-control>
                  </div>
                </div>
              </ng-container>
              <div class="row justify-content-center">
                <div class="col col-sm-12 col-md-10">
                  <button type="button" type="submit" class="btn btn-block btn-secondary" (click)="addNewStudent()">
                    {{ personSelected ? 'Agregar nueva carrera' :'Guardar'}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #success>
  <div class="container mt-2 animate__animated animate__slideInDown">
    <app-message [title]="successMessage" message="" type="SUCCESS">
      <div class="mt-4">
        <div class="row p-2">
          <div class="col-4">
            <button type="button" class="btn btn-secondary btn-block" (click)="successMessage = ''">
              Crear graduado
            </button>
          </div>
          <div class="col-8">
            <button type="button" class="btn btn-secondary btn-block" (click)="goToCreateCeritificate()">
              Crea un nuevo t&iacute;tulo
            </button>
          </div>
        </div>
      </div>
    </app-message>
  </div>
</ng-template>

<ng-template #error>
  <div class="container mt-2 animate__animated animate__flipInX">
    <app-message title="Ha ocurrido un error al intentar cargar los datos" type="ERROR"
      message="Comuniquese con el administrador. Error:'' "></app-message>
  </div>
</ng-template>

<!-- 
<button
          type="button"
          class="btn btn-block btn-secondary"
          (click)="goToTransactionsList()"
        >Ir al listado de transacciones</button> -->