<div class="container mt-2">
  <div class="row">
    <div class="col">
      <h3 class="card-title">Nuevo Estudiante</h3>
      <form autocomplete="true" [formGroup]="studentForm">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" class="form-control" formControlName="name" required />
                <label mdbLabel class="form-label" for="form_name">Nombre</label>
              </mdb-form-control>
            </div>
            <div class="col-xs-12 col-md-4">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_lastName" class="form-control" formControlName="lastname"
                  required />
                <label mdbLabel class="form-label" for="form_lastName">Apellido</label>
              </mdb-form-control>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="mb-3">
                <select class="form-select" aria-label="gender select" id="sexSelect" formControlName="sex" required>
                  <option selected value="">Elija el sexo</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Otro">Otro</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" maxlength="8" class="form-control"
                  formControlName="docNumber" required />
                <label mdbLabel class="form-label" for="form_name">N° Documento</label>
              </mdb-form-control>
            </div>
            <div class="col-xs-12 col-md-6">
              <mdb-form-control class="mb-3">
                <input mdbInput type="text" id="form_name" maxlength="8" class="form-control"
                  formControlName="registrationNumber" required />
                <label mdbLabel class="form-label" for="form_name">N° Registro</label>
              </mdb-form-control>
            </div>
            
          </div>

          <ng-container *ngIf="unversityData | async as unverisities">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="mb-3">
                  <select class="form-select" aria-label="university Name Select" id="universityNameSelect"
                    formControlName="university" required (change)="changeUniversity()">
                    <option selected value="">Elija la instituci&oacute;n</option>
                    <ng-container *ngFor="let university of unverisities">
                      <option [ngValue]="university">{{university.name}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="mb-3">
                  <select class="form-select" aria-label="Academic Unit Select" id="academicUnitNameSelect"
                    formControlName="academicUnit" required (change)="changeAcademicUnit()">
                    <option selected value="">Elija unidad acad&eacute;mica</option>
                    <ng-container *ngFor="let academicUnit of academicUnits">
                      <option [ngValue]="academicUnit">{{academicUnit.name}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-3">
                <select class="form-select mb-3" aria-label="Degree Program NameSelect" id="degreeProgramNameSelect"
                  formControlName="degreeProgramName" required>
                  <option selected value="">Elija una carrera</option>
                  <ng-container *ngFor="let career of careers">
                    <option [ngValue]="career">{{career.name}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="col-xs-12 col-md-3">
                <mdb-form-control class="mb-3">
                  <input mdbInput type="text" id="form_name" class="form-control"
                    formControlName="degreeProgramCurriculum" required />
                  <label mdbLabel class="form-label" for="form_name">Plan de estudios</label>
                </mdb-form-control>
              </div>
              <div class="col-xs-12 col-md-3">
                <mdb-form-control class="mb-3">
                  <input mdbInput type="number" id="form_name" class="form-control" min="0"
                    formControlName="directiveCouncilOrdinance" required />
                  <label mdbLabel class="form-label" for="form_name">Ordenanza Cons. directivo</label>
                </mdb-form-control>
              </div>
              <div class="col-xs-12 col-md-3">
                <mdb-form-control class="mb-3">
                  <input mdbInput type="number" id="form_name" class="form-control" min="0"
                    formControlName="superiorCouncilOrdinance" required />
                  <label mdbLabel class="form-label" for="form_name">Ordenanza Cons. superior</label>
                </mdb-form-control>
              </div>
            </div>

          </ng-container>

          <div class="row text-center">
            <div class="col p-1">
              <button type="button" type="submit" class="btn btn-block btn-light" (click)="clearForm()">
                Limpiar
              </button>
            </div>
            <div class="col p-1">
              <button type="button" type="submit" class="btn btn-block btn-secondary" (click)="addNewStudent()">
                Crear estudiante
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
