<div class="container mt-2 animate__animated animate__fadeIn" *ngIf="!hasError; else error">
  <div class="row justify-content-center" *ngIf="successMessage.length <= 0; else certificateCreated">
    <div class="col">
      <h3 class="card-title">Crear Titulo</h3>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <mdb-form-control class="mb-3">
            <input mdbInput type="text" id="search_dni" class="form-control" [(ngModel)]="personDocNumber"
              (keyup.enter)="getStudentByDni()" [ngModelOptions]="{ standalone: true }" />
            <label mdbLabel class="form-label" for="search_dni">N&uacute;mero de documento</label>
          </mdb-form-control>
        </div>

        <div class="col-sm-6 col-md-2">
          <button type="button" type="submit" [disabled]="!personDocNumber" class="btn btn-secondary"
            (click)="getStudentByDni()">
            Buscar
          </button>
        </div>
      </div>
      <div class="container-fluid my-2" *ngIf="studentList && studentList.length > 0 && !studentSelected">
        <div class="row justify-content-center">
          <div class="col-6">
            <h5 class="text-start">Graduados encontrados:</h5>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="list-group list-group-light">
              <button type="button"
                class="list-group-item list-group-item-action btn my-2 text-start bg-primary secondary"
                *ngFor="let student of studentList" aria-current="true" mdbRipple (click)="selectStudent(student)">
                {{ student.person.fullname }} - {{ student.degreeProgramName }}
              </button>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="studentSelected">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-8">
            <app-student [student]="studentSelected"></app-student>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center" *ngIf="currentCertificate">
            <div class="col">
              <p>
                Certificado creado el d&iacute;a {{currentCertificate.dateCreated}}
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
          <form autocomplete="true" [formGroup]="certificateForm" *ngIf="studentSelected && !hasCertificate">
            <div class="container">
              <h4 class="text-start mt-2 card-title">Datos del certificado</h4>
              <div class="row align-items-center">
                <div class="col-xs-12 col-md-6">
                  <mdb-form-control>
                    <input mdbInput type="text" id="form_name" class="form-control" formControlName="waferNumber"
                      required />
                    <label mdbLabel class="form-label" for="form_name">N° Oblea</label>
                  </mdb-form-control>
                </div>
                <div class="col text-end">

                  <button type="button" type="submit" class="btn btn-secondary" (click)="addNewCertificate()">
                    Crear título universitario
                  </button>
                </div>
              </div>
            </div>
          </form>

          <!-- <ng-container >
            <app-certificate [transaction]="cert" (delete)="certificateDeleted = true"></app-certificate>
          </ng-container> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #certificateCreated>
  <div class="container mt-5 animate__animated animate__slideInDown">
    <app-message [title]="successMessage" [message]="detailMessage" type="TRANSACTION">
      <div class="mt-4">
        <button type="button" class="btn btn-secondary" (click)="goToTransactionList()">
          Listado de transacciones
        </button>
      </div>
    </app-message>
  </div>
</ng-template>

<ng-template #error>
  <div class="container mt-2 animate__animated animate__flipInX">
    <app-message title="Ha ocurrido un error al intentar cargar los datos" type="ERROR"
      message="Comuniquese con el administrador."></app-message>
  </div>
</ng-template>