// $light: #f7ffff;
// $dark: #244188;
// $primary: #e5385e;
// $secondary: #00237a;
// $info: #5289d3;
// $success: #579700;
// $warning: #ffbb5b;
// $danger: #ec0064;



// Tema 1

/* $light: #f7ffff;
$dark: #244188;
$primary: #e5385e;
$secondary: #00237a;
$info: #5289d3;
$success: #579700;
$warning: #ffbb5b;
$danger: #ec0064; */




// Tema 2



$light: #ffffff;
$dark: #0f3e8f;
$primary: #2abbbc;
$secondary: #56657e;
$info: #ea954f;
$success: #15ba6a;
$warning: #ead012;
$danger: #fd1107;