<ng-container *ngIf="data">
  <mat-dialog-content>
    <h2 class="secondary">Certificado N° {{ data.certificate?.id }}</h2>
    <div class="container">
      <p>
        <strong>Fecha de registraci&oacute;n: </strong>{{ data.certificate?.updatedAtDesc }}
      </p>
      <p>
        <strong> Graduado: </strong>
        {{ data.certificate?.student?.name }}
        {{ data.certificate?.student?.lastname }}-
        {{ data.certificate?.student?.docNumber }}
      </p>

      <p>
        <strong>N° Registro: </strong>{{ data.certificate?.student?.registrationNumber }}
      </p>

      <p>
        <strong>Instituci&oacute;n: </strong>
        {{ data.certificate?.universityDegree?.universityName }}
      </p>

      <p>
        <strong>Unidad acad&eacute;mica: </strong>
        {{ data.certificate?.universityDegree?.academicUnit }}
      </p>

      <p>
        <strong>Carrera: </strong>
        {{ data.certificate?.universityDegree?.degreeProgramName }}
      </p>

      <p>
        <strong>Plan de estudios: </strong>
        {{ data.certificate?.universityDegree?.degreeProgramCurriculum }}
      </p>

      <p>
        <strong mdbTooltip="Identificador para la impresi&oacute;n del t&iacute;tulo">Numero de oblea:
        </strong>
        {{ data.certificate?.waferNumber }}
      </p>

      <strong>
        <p class="text-success">
          &Eacute;ste certificado se encuentra registrado traves un Contrato
          Inteligente en la red de Ethereum.
        </p>
      </strong>
      <div class="container card bg-light">
        <ng-container *ngIf="hasTransactionData;else noTransacionData">
          <strong class="h3 secondary"> Informaci&oacute;n del contrato</strong>
          <div>
            <p>
              <!-- Todo: Agregar color. -->
              <strong>Estado del certificado: </strong>
              {{ data?.certificate?.active ? 'ACTIVO' : 'DADO DE BAJA' }}
            </p>
            <p>
              <strong>Transacci&oacute;n: </strong> {{ data.transactionHash }}
            </p>

            <div class="">
              <span>
                <p class="text-muted m-0">
                  Puede validar el estado de la transacci&oacute;n a traves del
                  siguiente link:
                </p>
                <a class="link" [href]="data.etherscanLink">{{
                  data?.etherscanLink
                  }}</a>
              </span>
            </div>

            <p><strong>Numero de bloque: </strong> {{ data.blockHash }}</p>

            <p>
              <strong>Costos de certificaci&oacute;n (WEI): </strong>
              {{ data.gasUsed }} WEI
            </p>
          </div>

        </ng-container>

      </div>
    </div>
    <!-- Solo si es administrativo -->
    <div class="container" *ngIf="
        (role$ | async)?.name === 'ADMIN' &&
        data.certificate &&
        data.certificate.id != null
      ">
      <hr class="text-danger" />
      <p class="text-danger">
        &Eacute;sta acci&oacute;n har&aacute; que &eacute;ste certificado no sea
        visible en las busquedas y nadie podr&aacute; volver a encontrarlo.
      </p>
      <p class="text-danger">
        &Eacute;sta acci&oacute;n es permanente y no se puede deshacer.
      </p>
      <button *ngIf="!deleting" type="button" type="submit" class="btn btn-danger"
        (click)="deleteCertficate(data.certificate.id)">
        Eliminar
      </button>
      <button *ngIf="deleting" type="button" type="submit" class="btn btn-danger" disabled>
        <span>Cargando...</span>
        <div class="spinner-border text-light spinner-border-sm" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </button>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>
</ng-container>


<ng-template #noTransacionData>
  <h3>No se han encontrado datos de trazabilidad.</h3>
</ng-template>