@import "../../../variables.scss";

.navbar {
    font-size: 22px !important;
}

.logo {
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 0.4rem;
}

.logo-text {
    font-weight: bold;
    font-size: 34px;
}

.nav-link {
    color: $secondary;
    margin-right: 1rem;
}

.font-title {
    font-size: 13px;
}

.active-link {
    border-bottom: 3px solid #e0e0e0 !important;
    border-color: $primary !important;
}

.active-link>a {
    font-weight: bold;
}


.icon-size {
    font-size: 54px;
}

.icon-color {
    color: $primary;
}