<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="navBar.toggle()" aria-controls="navBarCertificatesValidator"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="d-flex align-items-end p-2 pe-3">
      <a href="#">
        <img src="../../../assets/img/icons8-chain-58.png" alt="" width="32" height="32">
      </a>
      <span class="logo-text px-2 secondary">UNSL CERT</span>
    </div>
    <div mdbCollapse #navBar="mdbCollapse" class="collapse navbar-collapse" id="navBarCertificatesValidator">
      <ng-container *ngIf="user; else userActions">
        <ng-container *ngIf="role$ | async; let role">
          <div class="col-8">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a [routerLink]="'validate'" class="nav-link" href="#">Buscar T&iacute;tulos</a>
              </li>
              <ng-container *ngIf="role.name ==='ADMIN'">
                <!--MENU Estudiantes -->
                <li mdbDropdown class="nav-item dropdown">
                  <a class="nav-link" id="navbarDropdownMenuLink" role="button" mdbDropdownToggle
                    aria-expanded="false">Estudiantes
                  </a>
                  <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                      <a class="dropdown-item" [routerLink]="'student'">Nuevo Estudiante</a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'student/search'">Buscar</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a [routerLink]="'certificate/new'" class="nav-link" href="#">Crear t&iacute;tulo</a>
                </li>
              </ng-container>
              <ng-container *ngIf="role.name ==='STUDENT'">
                <li class="nav-item">
                  <a [routerLink]="'certificate/my-certificates'" class="nav-link" href="#">Mis t&iacute;tulos</a>
                </li>
              </ng-container>
            </ul>
          </div>
          <div class="col-4 text-end">
            <span class="badge bg-secondary mx-3 " *ngIf="role.name ==='ADMIN'">Admin</span>
            <div mdbDropdown class="btn-group shadow-0">
              <button type="button" class="btn btn-floating" mdbDropdownToggle aria-expanded="false"
                data-mdb-display="static">
                <img src="../../../assets/img/avatar/avatar.png" alt="student avatar" class="img-fluid">
              </button>
              <div mdbDropdownMenu class="dropdown-menu m-2 p-2 dropdown-menu-end dropdown-menu-lg-start">
                <div class="row text-center mb-2">
                  <span><strong>{{user.person?.fullname | uppercase}}</strong></span>
                </div>
                <div class="row" *ngIf="netwotkStatus | async as status">
                  <div class="col">
                    <span class="badge bg-secondary w-100 font-title" *ngIf="!status?.connected"> No conectado</span>
                    <span class="badge bg-success w-100 font-title" *ngIf="status?.connected"> Conectado - Network:{{status.networkId}}</span>
                  </div>
                </div>
                <div class="row p-2 ">
                  <div class="col">
                    <select class="form-select" [(ngModel)]="student" aria-label="gender select"
                      (change)="selectStudent()" required>
                      <ng-container *ngFor="let student of user?.person?.students">
                        <option [value]="student">{{student.degreeProgramName}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a class="dropdown-item"><i class="fas fa-user-graduate me-3"></i>Perfil</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a class="dropdown-item" (click)="logout()">
                      <i class="fas fa-sign-out-alt me-3"></i>Salir</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</nav>
<!-- Navbar -->
<ng-template #userActions>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a [routerLink]="'validate'" class="nav-link" href="#">Validar T&iacute;tulo</a>
    </li>
  </ul>
  <div class="d-flex align-items-center">
    <a [routerLink]="'/login'" class="btn btn-secondary px-3 me-2">
      Iniciar Sesi&oacute;n
    </a>
  </div>
</ng-template>
