@import "../../../variables.scss";

.logo {
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 0.4rem;
}

.logo-text {
    font-weight: 100;
    font-size: 20px;
}

.nav-link {
    color: $secondary !important;
}

.font-title {
    font-size: 13px;
}

.active-link {
    background-color: $secondary;
    color: $light !important;
    border-radius: 0.3rem;
}

.active-link>a {
    background-color: $secondary;
    color: $light !important;
    border-radius: 0.3rem;
}