<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="navBar.toggle()" aria-controls="navBarCertificatesValidator"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div mdbCollapse #navBar="mdbCollapse" class="collapse navbar-collapse" id="navBarCertificatesValidator">
      <ng-container *ngIf="(isLoggedIn | async); else userActions">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="'new-certificate'" class="nav-link" href="#">Crear t&iacute;tulo</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'validate-certificate'" class="nav-link" href="#">Buscar T&iacute;tulos</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <ng-container *ngIf="netwotkStatus | async as status">

            <span class="badge bg-danger" *ngIf="!status?.connected"> No conectado</span>
            <span class="badge bg-success" *ngIf="status?.connected"> Conectado - Network:{{status.networkId}}</span>
          </ng-container>
          <button type="button" class="btn btn-link px-3 me-2" (click)="logout()">
            Salir
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
<!-- Navbar -->
<ng-template #userActions>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a [routerLink]="'validate-certificate'" class="nav-link" href="#">Validar T&iacute;tulo</a>
    </li>
  </ul>
  <div class="d-flex align-items-center">
    <a [routerLink]="'/login'" class="btn btn-primary px-3 me-2">
      Iniciar Sesi&oacute;n
    </a>
  </div>
</ng-template>
